header(class="fixed-top")
    div(class="container")
        div(class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start")
            a(href="/" class="col-1 d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none")
                img(src="/images/logo.png" alt="Logo" style="height: 50px")
            ul(class="nav col-3")
                li
                    a(href="/" class="nav-link px-2") Trang Chủ
                li
                    a(href="/question/ask" class="nav-link px-2") Đặt Câu Hỏi
                li
                    a(href="/chat" class="nav-link px-2") Chat GPT
            form(class="col-5")
                div(class="input-group")
                    span(class="input-group-text bg-white")
                        i(class="fas fa-search")
                    input(type="search" style="outline: none; box-shadow: none" class="form-control border-0" placeholder="Tìm kiếm câu hỏi" autocomplete="off")
            div(class="text-end ms-auto dropdown dropdown-hover p-3")
                if(user)
                    div(class="d-flex align-items-center gap-2 " style="color: white; font-weight: 600;")
                        img(src=(user.avatar ? user.avatar : "/images/avatar.png") class="d-flex align-items-center justify-content-center rounded-circle border " style="width:40px;height:40px;font-size:20px;object-fit: cover;")
                        span(class="font-weight-bold text-white opacity-header text-truncate align-text-top d-none d-xl-inline-block mw-100") #{user.fullName}
   
                    ul(class="dropdown-menu dropdown-menu-hover" aria-labelledby="dropdownMenuButton")
                        li
                            a(class="dropdown-item" href=`/user/${user.id}`)
                                i(class="fa-solid fa-user me-2")
                                | Trang cá nhân
                        li
                            a(class="dropdown-item" href="/user/logout")
                                i(class="fa-solid fa-right-from-bracket me-2")
                                | Đăng xuất

                  
                            

                else
                    a(href="/user/login")
                        button(type="button" class="btn btn-outline-light me-2")
                            | Đăng Nhập
                    a(href="/user/register")
                        button(type="button" class="btn btn-danger")
                            | Đăng Ký
