mixin ranking(ranking)
    div(class="bg-white question-card card p-3")
        div(class="card-header border-0 fw-bold text-center bg-white" style="font-size: 20px;") Bảng xếp hạng
        hr(class="m-0")
        // Card content
        div(class="card-body" style="padding-bottom: 8px")
            if(ranking)
                - var rank = 0
                each user, index in ranking
                    - rank = index + 1
                    div(class="d-flex justify-content-between gap-3 align-items-center mb-3")
                        div(class="d-flex justify-content-center gap-2 align-items-center")

                            if (rank == 1)
                                img(src="/images/rank1.png" alt="rank 1" style="width: 35px; height: 35px; object-fit: cover;")
                            else if (rank == 2)
                                img(src="/images/rank2.png" alt="rank 2" style="width: 35px; height: 35px; object-fit: cover;")
                            else if (rank == 3)
                                img(src="/images/rank3.png" alt="rank 3" style="width: 35px; height: 35px; object-fit: cover;")
                            else
                                div(class="d-flex justify-content-center align-items-center" style="width: 35px")
                                    strong(style="color: #000000; font-size: 18px;") #{rank}

                            img(src=(user.avatar ? user.avatar : "/images/avatar.png") class="rounded-circle mr-2" style="width: 40px; height: 40px; object-fit: cover;")
                            a(href=`/user/${user.id}` style="font-weight: bold; white-space: nowrap") #{user.fullName}
                        strong(style="font-size: 16px; white-space: nowrap; text-align: end") #{user.points} Points
            else 
                strong Đang cập nhật...