extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    section(class="register" style="background-color: #f5f5f5;")
        div(class="container")
            div(class="row d-flex justify-content-center align-items-center")
                div(class="col-lg-12 col-xl-11")
                    div(class="text-black" style="border-radius: 25px;")
                        div(class="card-body p-md-5")
                            div(class="row justify-content-center mt-1")
                                div(class="card col-md-10 col-lg-6 col-xl-5")
                                    p(class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4") Đăng nhập
                                    form(class="mx-1 mx-md-4 form-user form-login" method="POST" action="/user/login")

                                        div(class="d-flex flex-row align-items-center mb-4")
                                            i(class="fas fa-envelope fa-lg me-3 fa-fw")
                                            div(data-mdb-input-init class="form-outline flex-fill mb-0")
                                                input#email(type="email" class="form-control p-2" name="email")
                                                label(class="form-label" for="email") Email
                                        small(class="error-message" validate="email") Error message

                                        div(class="d-flex flex-row align-items-center mb-4")
                                            i(class="fas fa-lock fa-lg me-3 fa-fw")
                                            div(data-mdb-input-init class="form-outline flex-fill mb-0")
                                                input#password(type="password" class="form-control p-2" name="password")
                                                label(class="form-label" for="password") Mật khẩu
                                        small(class="error-message" validate="password") Error message


                                        div(class="d-flex justify-content-center mx-4 mb-3 mb-lg-4")
                                            button(type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-login") Đăng nhập
                                