html {
    overflow-y: scroll;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding-top: 60px;
    min-height: 100vh; /* Đảm bảo container chiếm toàn bộ chiều cao viewport */
    display: flex;
    flex-direction: column;
    padding-right: 0 !important;
}

/* Fix giao diện giao diện bị xê dịch khi hiển thị thông báo */
body.swal2-shown {
    overflow-y: hidden !important;
    padding-right: 0 !important;
}

button {
    font-size: 14px !important;
}

/* Header */
header {
    background-color: #2c44a7;
    position: sticky;
    top: 0;
    /* z-index: 1030; */
}

header .nav li a {
    color: white;
    font-weight: 600;
}

header .nav li a:hover {
    color: rgb(155, 172, 168);
}

.btn-outline-light:hover {
    background-color: transparent;
}

.dropdown-hover:hover > .dropdown-menu-hover {
    display: block;
    width: 250px;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px 15px 125px rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    z-index: 9999;
    text-align: left;
    transition: all 0.4s ease;
}

.dropdown-hover:hover > .dropdown-menu-hover li a {
    font-size: 16px;
    font-weight: 600;
    color: #212529;
}

.dropdown-hover > .dropdown-toggle:active {
    pointer-events: none;
}
/* End Header */

.content-wrap {
    flex: 1;
    background-color: #f5f5f5;
}

/* Register */
.divider:after,
.divider:before {
    content: '';
    flex: 1;
    height: 1px;
    background: #eee;
}

.register .form-user small {
    color: #e74c3c;
    position: relative;
    bottom: 15px;
    left: 45px;
    display: none;
    font-size: 13px;
}

.register .form-user small.error {
    display: block;
}

/* End Register */

/* Chat AI */
#chat2 .form-control {
    border-color: transparent;
}

#chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
    content: '';
    flex: 1;
    height: 1px;
    background: #eee;
}

.chat .card-body {
    overflow-y: auto;
}

.chat .card-body p {
    max-width: max-content;
    margin-left: auto;
    font-size: 16px;
}

.chat .card-body .chat-by-ai p {
    color: black !important;
    background-color: #f0f0f0 !important;
    margin-top: 5px;
}

.inner-form button {
    border: none;
    outline: none;
    background: transparent;
}
/* End Chat AI */

/* Box typing */
.box-typing {
    position: relative;
}

.box-typing .inner-dots {
    position: relative;
    height: 30px;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 45px;
    margin-top: 2px;
}

.box-typing .inner-dots span {
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background-color: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}
/* Box typing */
/* Sort Document */
.question-card {
    border: 1px solid #ccc;
}

.btn-select {
    font-size: 14px !important;
}
.btn-select.active {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #f4f5fa !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    border-bottom: 2px #2c44a7 solid !important;
    color: #000 !important;
}

.box-number-reply {
    border: 2px solid #12ad50;
    color: #12ad50 !important;
    padding: 3px 7px;
    border-radius: 0.375rem;
}

.box-number-reply.done {
    color: #fff !important;
    background-color: #12ad50;
}
.btn-question {
    font-size: 17px;
}

.btn-custom,
.btn-question {
    text-align: center;
    padding: 5px 15px;
}

.btn-custom:hover,
.btn-question {
    cursor: pointer;
    color: #fff !important;
    background-color: #12ad50;
}

.sort-question {
    cursor: pointer;
    color: #525960;
    font-weight: 600;
}

.sort-question:hover,
.sort-question.action {
    background-color: rgb(222 224 225);
}

.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=''] {
    display: none;
}

.button-vote {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-vote.action {
    color: green;
    border-color: green;
}

/* Edit Info */
.profile-card {
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.form-label-custom {
    font-weight: 600;
    color: #000;
}

.form-control-custom {
    font-weight: 500;
    min-height: 40px;
    background: #efefef;
}

.change-avatar {
    cursor: pointer;
    color: blueviolet;
    font-weight: 500;
}
