extends ../../layouts/default.pug
include ../../mixins/ranking.pug

block main
    // Grid row
    +ranking(ranking)
    //- div(class="row wow fadeIn")
    //-     // Grid column
    //-     div(class="col-md-6 mb-4")
    //-         // Card
    //-         div(class="card")
    //-             // Card content
    //-             div(class="card-body")
                    
    //-     // Grid column
    //-     div(class="col-md-6 mb-4")
    //-         // Card
    //-         div(class="card")
    //-             // Card content
    //-             div(class="card-body")
                    